<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
  /* Navigation bar */
  #navbar {
    background-color: #222;
    overflow: hidden;
  }

  #navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }


  #navbar a.active {
    background-color: #4CAF50;
    color: white;

  }
  #navbar a.logout {
    float: right;
    background-color: red;
  }
</style>

    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
  <center>  <h1> Rahe3l Vebsite </h1> </center>
  <div id="navbar">
   <a class="active" href="/">Home</a>
   <a href="/search1">Search</a>
   <a href="/showdata">Show Data</a>
   <a href="/low_quantity_products">Low Quantity Products</a>
   <a href="/logout" class="logout">Logout</a>
   <a href="/added_Locations" >Locations</a>
   <a href="/manage_locations" >Add New Locations</a>
   <a href="/sales/invoice" >Invoice</a>
   


 </div>
  <div class="container-fluid">
    {% block content %}
    {% endblock %}

  </div>
    <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>
</html>
